html {
    height: 100% 
}

body {
    height: 100%;
    margin: 0;
    padding: 0 
}

#map-canvas { 
    height: 100%;
    width: 80%; 
    float: left;
}

#controlBox {
    height: 100%; 
    width: 20%; 
    float: right;
    background: #DDD;
    overflow: visible;
}

.buttonsBox{
    height: 10%;
}
.flightListBox{
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-color: rgba(253, 253, 253, .4);
    max-height: 90%;
    overflow-y: scroll;
}

.flightBox{
    height: 40px;
    box-shadow: inset 0 0 3px #000000;
    border: 1px solid black;
    text-align: center;
}

#days-box {
    width:40px;
}

.flightBox:hover{
    box-shadow: inset 0 0 5px #1155AA;
    cursor: pointer;
}

.flightTimeBox{
    padding-bottom: 15px;
}
